
/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bowlby+One&display=swap');

body {
    padding: 0px 10px;
    font-family: Arvo, serif;
}

h1 {
    font-family: Bowlby One, sans-serif;
}

h1.header {
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: -15px;
}


ul.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: blueviolet;
}

ul.navbar li {
    float: left;
}

ul.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active){
    background-color: blue;
}

ul.navbar li a.active{
    background-color: green;
}